{% extends 'base.html.twig' %}
{% block title %}Uploader un modèle{% endblock %}

{% block body %}
    <div class="mt-12 p-8 bg-white text-gray-900 rounded-xl">
        <h1 class="text-4xl font-extrabold mb-8">Uploader un modèle</h1>

        {{ form_start(form, {
            'attr': {
                'enctype':'multipart/form-data',
                'class':'space-y-6'
            }
        }) }}

        <fieldset class="bg-gray-50 p-6 rounded-lg space-y-6">
            <legend class="text-lg font-semibold text-gray-900">Informations générales</legend>

            <div class="space-y-2">
                {{ form_label(form.name, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-300 bg-white text-gray-900'}}) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="space-y-2">
                {{ form_label(form.type, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                {{ form_widget(form.type, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-300 bg-white text-gray-900'}}) }}
                {{ form_errors(form.type) }}
            </div>

            <div class="space-y-2">
                {{ form_label(form.format, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                {{ form_widget(form.format, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-300 bg-white text-gray-900'}}) }}
                {{ form_errors(form.format) }}
            </div>

            <div class="space-y-2">
                {{ form_label(form.file, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                {{ form_widget(form.file, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-300 bg-white text-gray-900'}}) }}
                {{ form_errors(form.file) }}
            </div>

            <div class="space-y-2">
                {{ form_label(form.isDefault, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                {{ form_widget(form.isDefault, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-300 bg-white text-gray-900'}}) }}
                {{ form_errors(form.isDefault) }}
            </div>

            <div class="flex justify-end items-center">
                <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded btn-mobile">Enregistrer</button>
            </div>
        </fieldset>

        {{ form_end(form) }}
    </div>
{% endblock %}
