<div class="bg-gray-800 p-4 rounded-xl mb-6 shadow-md">
    {{ form_start(form, {
        'action': action
    }) }}

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-end">

        <!-- Type + Status -->
        <div data-controller="status-filter" class="flex gap-4 col-span-2">
            <div class="flex-1">
                {{ form_label(form.type, 'Type') }}
                {{ form_widget(form.type, {
                    'attr': {
                        'class': 'w-full rounded bg-gray-700 text-white p-3',
                        'data-status-filter-target': 'type'
                    }
                }) }}
            </div>

            <div class="flex-1">
                {{ form_label(form.status, 'Status') }}
                {{ form_widget(form.status, {
                    'attr': {
                        'class': 'w-full rounded bg-gray-700 text-white p-3',
                        'data-status-filter-target': 'status'
                    }
                }) }}
            </div>
        </div>

        <!-- Boutons à droite -->
        <div class="flex justify-end space-x-2">
            {{ form_widget(form.search, {'attr': {'class': 'px-6 py-3 bg-blue-600 text-white rounded hover:bg-blue-700 transition'}}) }}
            {{ form_widget(form.reset, {'attr': {'class': 'px-6 py-3 bg-gray-600 text-white rounded hover:bg-gray-700 transition'}}) }}
        </div>

    </div>

    {{ form_end(form) }}
</div>
