<div class="max-w-2xl mx-auto mt-10 bg-gray-800 p-8 rounded-lg shadow-lg text-white">
    <h1 class="text-3xl font-bold mb-6">Créer un document commercial</h1>

    {{ form_start(form, {
        'attr': {
            'class': 'space-y-6',
            'enctype': 'multipart/form-data'
        }
    }) }}
    <fieldset class="mb-6 p-4 border rounded bg-gray-700">
        <legend class="text-lg font-semibold mb-4">Informations générales</legend>

       {#  <div>
            {{ form_label(form.type, 'Type de document', {'label_attr': {'class': 'block text-sm font-medium'}}) }}
            {{ form_widget(form.type, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-300 text-black'}}) }}
            {{ form_errors(form.type) }}
        </div> #}

        <div>
            {{ form_label(form.reference, 'Référence', {'label_attr': {'class': 'block text-sm font-medium'}}) }}
            {{ form_widget(form.reference, {'attr': {'class': 'mt-1 w-full rounded-md border-gray-300 text-black'}}) }}
            {{ form_errors(form.reference) }}
        </div>

        {# Stimuls JS SalesDocumentItems #}
        <div data-controller="sales-document-items" data-sales-document-items-items-container-target="itemsContainer">
            <h2 class="text-xl font-semibold mb-4">Lignes d'articles</h2>

            <div data-sales-document-items-target="itemsContainer"
                 {# data-prototype="{{ form_widget(form.salesDocumentItems.vars.prototype)|e('html_attr') }}"  #}
                 data-prototype="{{ include('sales_document_item/_form.html.twig', { form: form.salesDocumentItems.vars.prototype })|e('html_attr') }}"

            >
               {#  {{ form_widget(form.salesDocumentItems) }} #}
                {% for itemForm in form.salesDocumentItems %}
                    <div class="mb-4 p-4 border rounded bg-gray-700 relative">
                        {% include 'sales_document_item/_form.html.twig' with { 'form': itemForm } %}

                        <button
                            type="button"
                            class="absolute top-2 right-2 px-3 py-1 bg-red-600 text-white rounded"
                            onclick="this.closest('div').remove()"
                        >
                            Supprimer
                        </button>
                    </div>
                {% endfor %}

            </div>

            <button
                type="button"
                data-action="click->sales-document-items#addItem"
                class="mt-4 px-4 py-2 bg-green-600 text-white rounded"
            >
                + Ajouter une ligne
            </button>
        </div>

        {# Stimuls JS SalesDocumentItems #}

        <div class="flex justify-between items-center pt-4">
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Enregistrer
            </button>
        </div>
    </fieldset>

    {{ form_end(form) }}
</div>
